h2[b-lict9yrgg8] {
    color: #007bff;
}

.dashboard-card[b-lict9yrgg8] {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;

}
    .container[b-lict9yrgg8] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

@media (max-width: 1200px) {
    .display-4[b-lict9yrgg8] {
        font-size: 2rem;
    }

    .display-2[b-lict9yrgg8] {
        font-size: 2.5rem;
    }
}

@media (max-width: 950px) {
    .display-4[b-lict9yrgg8] {
        font-size: 1.5rem;
    }

    .display-2[b-lict9yrgg8] {
        font-size: 1.2rem;
    }
}

@media (max-width: 750px) {
    .display-4[b-lict9yrgg8] {
        font-size: 2rem;
    }

    .display-2[b-lict9yrgg8] {
        font-size: 1.5rem;
    }
}

/* Custom styling for gamification */
.box[b-lict9yrgg8] {
    position: relative;
    transition: transform 0.3s ease-in-out;
}


.reward-icon[b-lict9yrgg8] {
    font-size: 2rem;
    color: gold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.profile-card[b-lict9yrgg8] {
    background-color: white;
    border-radius: 8px; /* Add rounded corners */
    overflow: hidden; /* Hide overflowing content */
    transition: box-shadow 0.3s, transform 0.3s ease-in-out;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
}

    .profile-card:hover[b-lict9yrgg8] {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: scale(1.01); /* Add a slight scale effect */
        text-decoration: none;
        cursor: pointer;
    }

.profile-container[b-lict9yrgg8] {
    width: 60px; /* Set width of the profile container */
    height: 60px; /* Set height of the profile container */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 50%; /* Create a circular shape */
    margin-right: 15px; /* Add some spacing between the profile picture and text */
}

.profile-picture[b-lict9yrgg8] {
    width: 100%; /* Make the profile picture fill the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Ensure the picture remains circular */
}

.profile-details[b-lict9yrgg8] {
    flex-grow: 1; /* Allow the details to grow and fill the remaining space */
}

    .profile-details h5[b-lict9yrgg8] {
        margin-bottom: 5px; /* Add spacing below the name */
    }

    .profile-details p[b-lict9yrgg8] {
        margin: 0; /* Remove default margins for better spacing */
        color: #555; /* Use a slightly muted color for additional information */
    }

        .custom-display-4[b-lict9yrgg8] {
        font-size: 2em; /* Adjust the font size as needed */
    }


.leftBox[b-lict9yrgg8] {
    display: grid;
}

.fullBox[b-lict9yrgg8] {
    width: 100%;
}

.fullLeft[b-lict9yrgg8] {
    width: 25%;
}

.fullRight[b-lict9yrgg8] {
    width: 75%;
    max-width: 75%;
}

.streak-box[b-lict9yrgg8] {
    width: 100%;
    background-color: #3498db; /* Blue color */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

    .streak-box h3[b-lict9yrgg8] {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .streak-box p[b-lict9yrgg8] {
        font-size: 2.5em;
        margin: 10px 0;
    }

.no-info[b-lict9yrgg8] {
    font-size: 1.2em;
    margin: 10px 0;
}

.claimable-item[b-lict9yrgg8] {
    position: relative;
}

.claim-option[b-lict9yrgg8] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.3s ease;
}

.claimable-item:hover .claim-option[b-lict9yrgg8] {
    opacity: 1;
}