/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */





/*Testing*/ 
/*.navbar-nav .nav-item.dropdown .dropdown-menu.show {
    color: red;*/ /* your desired text color *//*;
}

.navbar-nav{
    background-color:red;
}

.nav-item{
    background-color: green;
    color: black;
}

    .nav-item.dropdown{
        background-color: white;
        color: black;
    }*/

