body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343a40;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.section-header {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-icon {
    width: 30px;
    cursor: pointer;
}

.filter-form {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    display: none;
    z-index: 1000;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    transition: opacity 0.6s ease;
}

    .filter-form.show {
        opacity: 1;
    }

    .filter-form label,
    .filter-form select {
        margin-bottom: 10px;
        display: block;
    }

    .filter-form button {
        background-color: cornflowerblue;
        color: #fff;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .filter-form button:hover {
            background-color: #0056b3;
        }

.filter-option {
    margin-bottom: 15px;
}

    .filter-option label {
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }

    .filter-option select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }


.scrollable-row {
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

    .scrollable-row a {
        margin-right: 0px;
    }

.workout-card {
    max-width: 300px;
    margin: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.info {
    background-color: #e8eefe;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

    .info p {
        margin: 5px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.category {
    font-weight: bold;
}

.points {
    color: #2ecc71;
    font-weight: bold;
}

.workout-link {
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto;
}

    .workout-link:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: inherit;
        background-color: cornflowerblue;
        color: white;
    }

        .workout-link:hover .info {
            color: black;
        }

#searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    width:100%;
}

#searchInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#clearButton {
    color: #999;
    background: none;
    border: none;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.clear-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none; 
}

    .clear-icon svg {
        stroke: red;
    }

.search-icon {
    transform: translateY(5%);
    transform: translateX(-10%);
}

#searchInput:not(:placeholder-shown) + .clear-icon {
    display: block;
}


h2 {
    color: #007bff;
}

h3 {
    color: black;
}

.card-title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}


@media (max-width: 768px) {
    #searchBar {
        flex-direction: column;
        align-items: stretch;
    }

    #searchInput {
        margin-bottom: 10px;
    }

    .workout-card {
        width: 100%;
        font-size: 12px; 
        padding: 5px; 
    }

    #filterForm {
        width: 100%;
    }
}

/*calendar*/
.fc-toolbar h2 {
    color: white;
}


.calendar-section {
    background-color: white;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.custom-search {
    border: none !important;
    border-radius: 0;
    padding-left: 0;
    outline: none !important;
}

    .custom-search:focus {
        outline: none;
        box-shadow: none;
    }

.clear-icon {
    visibility: visible;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1; 
}