body[b-dix295yned] {
    font-family: 'Arial', sans-serif;
    background-color: #343a40;
    color: white;
}

.container-one[b-dix295yned] {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('/Images/homepage.jpg') center/cover;
    padding: 40px;
    color: #fff;
    height:100%;
    margin:0px;
    width:100%;
}

.container-two[b-dix295yned] {
    background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(0, 123, 255, 0.9));
    color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

    .container-two .content-container[b-dix295yned] {
        max-width: 800px;
        margin: 0 auto;
    }

    .container-two .app-benefits[b-dix295yned] {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .container-two .benefit[b-dix295yned] {
        flex: 1;
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
        background: #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
    }

        .container-two .benefit h2[b-dix295yned] {
            color: #007bff;
            margin-bottom: 10px;
            font-size: 1.5rem;
        }

        .container-two .benefit p[b-dix295yned] {
            font-size: 1.1rem;
            color: black;
            line-height: 1.6;
        }

.welcome-message[b-dix295yned] {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.key-features[b-dix295yned] {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature[b-dix295yned] {
    max-width: 400px;
    margin: 20px;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.feature-text[b-dix295yned] {
    max-width: 100%;
    margin-top: 10px;
}

.feature p[b-dix295yned] {
    margin-bottom: 0;
}

.feature-icon[b-dix295yned] {
    max-width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.btn[b-dix295yned] {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

    .btn:hover[b-dix295yned] {
        background-color: #45a049;
    }

.app-benefits[b-dix295yned] {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefit[b-dix295yned] {
    width: 45%;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

    .benefit h2[b-dix295yned] {
        font-size: 24px;
        margin-bottom: 10px;
    }

.explore-more[b-dix295yned] {
    margin-top: 40px;
}

    .explore-more h2[b-dix295yned] {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .explore-more p[b-dix295yned] {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .explore-more a[b-dix295yned] {
        font-size: 20px;
        border: 2px solid #4CAF50;
        color: #4CAF50;
        padding: 15px 30px;
        border-radius: 8px;
        text-decoration: none;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

        .explore-more a:hover[b-dix295yned] {
            background-color: #4CAF50;
            color: #fff;
        }