.clan-details-container {
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}

.clan-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.creator-info {
    color: #666;
}

.members-section {
    margin-top: 15px;
}

.members-title {
    font-weight: bold;
}

.members-list {
    list-style-type: none;
    padding: 0;
}

.member {
    margin-bottom: 5px;
    color: #444;
}

.clan-points {
    font-size: 18px;
    color: #777;
}