
.clan-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left:0;
    margin-right:0;
}

.creator-info {
    color: #444;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 14px;
}

.members-section {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    background-color: #D0EBFF;
}

.members-title {
    font-weight: bold;
}

.members-list {
    list-style-type: none;
    padding: 0;
}

.member {
    margin-bottom: 5px;
    color: #444;
}

.clan-points {
    font-size: 16px;
    color: white;
}

.clan-bio {
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
}

.member-points {
    font-size: 16px;
    color: #777;
}

.clan-info {
    background-color: #258cfb;
    padding: 20px;
    padding-bottom: 14px;
}

.no-clan {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    height:100%;
}

.clan-message {
    margin-top:145px;
    text-align: center;
}

.text-muted {
    color: #666;
}

.button-container {
    margin-top: 20px;
}

.btn-primary,
.btn-success {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #007bff; /* Blue */
    border-color: #007bff; /* Blue */
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-primary:hover,
    .btn-success:hover {
        background-color: #0056b3; /* Darker Blue */
        border-color: #0056b3; /* Darker Blue */
        transform: translateY(-2px);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }



.kick-member-btn {
    padding: 0.25rem 0.5rem; /* Adjust padding to reduce height */
    font-size: 0.875rem; /* Adjust font size if necessary */
}

.edit-clan-btn {
    background-color: white; /* Blue */
    color: black;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .edit-clan-btn:hover {
        background-color: #cecece;
    }

.member-item {
    background-color: white;
    padding: 8px;
    margin-left: 0;
    margin-right: 0;
    border-radius:20px;
}

.custom-search {
    border: none !important;
    border-radius: 0;
    padding-left: 0;
    background-color: #D0EBFF;
    outline: none !important;
}

    .custom-search:focus {
        outline: none;
        box-shadow: none;
    }



/* Custom styling for the challenge card */
.challenge-card {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    min-height: 500px;
    background-color: white;
}

    .challenge-card h2 {
        font-weight: 500;
        margin-bottom: 10px;
        color: #3498db;
    }

    .challenge-card p {
        color: #555;
        font-size: 16px;
    }


.reward-text {
    color: #6c757d;
}

    .reward-text strong {
        color: #2ecc71;
    }

.challenge-description {
    margin-bottom: 15px;
}

.game-progress {
    margin-bottom: 10px;
}

.game-progress-text {
    margin-bottom: 5px;
    color: #6c757d;
}

.progress-bar {
    background-color: #28a745;
}

.game-elements button {
    font-size: 14px;
}

.claimed {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #333;
}

    .claimed:hover {
        background-color: #e0a800;
        border-color: #e0a800;
    }

/*workouts*/
.scrollable-row {
    display: flex;
    overflow-x: auto; /* Use 'auto' instead of 'hidden' for horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    margin-top:10px;
}

    .scrollable-row a {
        margin-right: 0px;
    }

/* Category Styles */
.workout-name {
    font-weight: bold;
    margin-bottom:0;
    margin-top:0;
}

.card-body {
    padding: 8px;
    text-align: center;
}

/* Points Styles */
.points {
    color: #2ecc71;
    font-weight: bold;
}

.workout-link {
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto;
    background-color: #dedede;
}

    .workout-link:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: inherit;
        background-color: cornflowerblue;
        color: white;
    }

        .workout-link:hover .info {
            color: black;
        }

/* Updated styles for the "Claim Reward" button */
.btn-reward {
    background: #3498db; /* Blue background color */
    color: #fff; /* White text */
    border: none; /* No border */
    padding: 15px 30px; /* Padding */
    border-radius: 8px; /* Rounded corners */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.5); /* Blue box shadow */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

    .btn-reward:hover {
        background-color: #2980b9; /* Darker blue on hover */
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(52, 152, 219, 0.7);
    }

    .btn-reward.claimed {
        background-color: #95a5a6; /* Gray color for claimed button */
        cursor: not-allowed;
        box-shadow: none; /* No box shadow for claimed button */
    }
