
.clan-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left:0;
    margin-right:0;
}

.creator-info {
    color: #444;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 14px;
}

.members-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.members-title {
    font-weight: bold;
}

.members-list {
    list-style-type: none;
    padding: 0;
}

.member {
    margin-bottom: 5px;
    color: #444;
}

.clan-points {
    font-size: 16px;
    color: white;
    padding-bottom: 5px;
}

.clan-bio {
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
}

.member-points {
    font-size: 16px;
    color: #777;
}

.clan-info {
    background-color: #258cfb;
    padding: 20px;
    padding-bottom: 5px;
}

.no-clan {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
}

.clan-message {
    text-align: center;
}

.text-muted {
    color: #666;
}

.button-container {
    margin-top: 20px;
}

.btn-primary,
.btn-success {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #007bff; /* Blue */
    border-color: #007bff; /* Blue */
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-primary:hover,
    .btn-success:hover {
        background-color: #0056b3; /* Darker Blue */
        border-color: #0056b3; /* Darker Blue */
        transform: translateY(-2px);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }



.kick-member-btn {
    padding: 0.25rem 0.5rem; /* Adjust padding to reduce height */
    font-size: 0.875rem; /* Adjust font size if necessary */
}

.edit-clan-btn {
    background-color: white; /* Blue */
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .edit-clan-btn:hover {
        background-color: lightblue; /* Darker Blue */
    }
