body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343a40;
    color: white;
}

h2 {
    color: #007bff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

#raffleCarousel {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel-item {
    text-align: center;
    transition: transform 0.5s ease;
}

    .carousel-item:hover {
        transform: scale(1.03);
    }

.raffle-item {
    display: flex;
    align-items: stretch;
}

.raffle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.raffle-info {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-controls {
    position: relative;
    padding-top: 50px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 45px;
    height: 45px;
    background-color: #222;
    opacity: 0.3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: #0056b3;
        color: white;
    }

.carousel-control-prev {
    position: absolute;
    margin-left: 20px;
}

.carousel-control-next {
    position: absolute;
    margin-right: 20px;
}


.list-group-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
}

    .list-group-item h5 {
        color: #333;
    }

    .list-group-item p {
        color: #777;
    }

.badge-info {
    background-color: #17a2b8;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

.badge-danger {
    background-color: #dc3545;
    color: #fff;
}

/* Additional styling for responsiveness */
@media (max-width: 576px) {
    .list-group-item {
        padding: 10px;
    }

    .badge-info, .badge-danger {
        padding: 6px 10px;
    }
}

.raffle-status-box {
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 6px; /* Add rounded corners */
    padding: 10px; /* Add padding */
    display: flex; /* Use flexbox to align items */
    justify-content: flex-start; /* Align items to the start */
}

.expired-status {
    color: #dc3545; /* Red text color for expired status */
    font-weight: bold;
}

.active-status {
    color: #28a745; /* Green text color for active status */
    font-weight: bold;
}



