
.clan-name[b-qk0rk6zmgx] {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left:0;
    margin-right:0;
}

.creator-info[b-qk0rk6zmgx] {
    color: #444;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 14px;
}

.members-section[b-qk0rk6zmgx] {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    background-color: #D0EBFF;
}

.members-title[b-qk0rk6zmgx] {
    font-weight: bold;
}

.members-list[b-qk0rk6zmgx] {
    list-style-type: none;
    padding: 0;
}

.member[b-qk0rk6zmgx] {
    margin-bottom: 5px;
    color: #444;
}

.clan-points[b-qk0rk6zmgx] {
    font-size: 16px;
    color: white;
}

.clan-bio[b-qk0rk6zmgx] {
    font-size: 14px;
    color: white;
    padding-bottom: 10px;
}

.member-points[b-qk0rk6zmgx] {
    font-size: 16px;
    color: #777;
}

.clan-info[b-qk0rk6zmgx] {
    background-color: #258cfb;
    padding: 20px;
    padding-bottom: 14px;
}

.no-clan[b-qk0rk6zmgx] {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    height:100%;
}

.clan-message[b-qk0rk6zmgx] {
    margin-top:145px;
    text-align: center;
}

.text-muted[b-qk0rk6zmgx] {
    color: #666;
}

.button-container[b-qk0rk6zmgx] {
    margin-top: 20px;
}

.btn-primary[b-qk0rk6zmgx],
.btn-success[b-qk0rk6zmgx] {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: #007bff; 
    border-color: #007bff;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-primary:hover[b-qk0rk6zmgx],
    .btn-success:hover[b-qk0rk6zmgx] {
        background-color: #0056b3; 
        border-color: #0056b3;
        transform: translateY(-2px);
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }



.kick-member-btn[b-qk0rk6zmgx] {
    padding: 0.25rem 0.5rem; 
    font-size: 0.875rem;
}

.edit-clan-btn[b-qk0rk6zmgx] {
    background-color: white; 
    color: black;
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .edit-clan-btn:hover[b-qk0rk6zmgx] {
        background-color: #cecece;
    }

.member-item[b-qk0rk6zmgx] {
    background-color: white;
    padding: 8px;
    margin-left: 0;
    margin-right: 0;
    border-radius:20px;
}

.custom-search[b-qk0rk6zmgx] {
    border: none !important;
    border-radius: 0;
    padding-left: 0;
    background-color: #D0EBFF;
    outline: none !important;
}

    .custom-search:focus[b-qk0rk6zmgx] {
        outline: none;
        box-shadow: none;
    }



/* Custom styling for the challenge card */
.challenge-card[b-qk0rk6zmgx] {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    min-height: 500px;
    background-color: white;
}

    .challenge-card h2[b-qk0rk6zmgx] {
        font-weight: 500;
        margin-bottom: 10px;
        color: #3498db;
    }

    .challenge-card p[b-qk0rk6zmgx] {
        color: #555;
        font-size: 16px;
    }


.reward-text[b-qk0rk6zmgx] {
    color: #6c757d;
}

    .reward-text strong[b-qk0rk6zmgx] {
        color: #2ecc71;
    }

.challenge-description[b-qk0rk6zmgx] {
    margin-bottom: 15px;
}

.game-progress[b-qk0rk6zmgx] {
    margin-bottom: 10px;
}

.game-progress-text[b-qk0rk6zmgx] {
    margin-bottom: 5px;
    color: #6c757d;
}

.progress-bar[b-qk0rk6zmgx] {
    background-color: #28a745;
}

.game-elements button[b-qk0rk6zmgx] {
    font-size: 14px;
}

.claimed[b-qk0rk6zmgx] {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #333;
}

    .claimed:hover[b-qk0rk6zmgx] {
        background-color: #e0a800;
        border-color: #e0a800;
    }

/*workouts*/
.scrollable-row[b-qk0rk6zmgx] {
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    margin-top:10px;
}

    .scrollable-row a[b-qk0rk6zmgx] {
        margin-right: 0px;
    }

/* Category Styles */
.workout-name[b-qk0rk6zmgx] {
    font-weight: bold;
    margin-bottom:0;
    margin-top:0;
}

.card-body[b-qk0rk6zmgx] {
    padding: 8px;
    text-align: center;
}

/* Points Styles */
.points[b-qk0rk6zmgx] {
    color: #2ecc71;
    font-weight: bold;
}

.workout-link[b-qk0rk6zmgx] {
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto;
    background-color: #dedede;
}

    .workout-link:hover[b-qk0rk6zmgx] {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: inherit;
        background-color: cornflowerblue;
        color: white;
    }

        .workout-link:hover .info[b-qk0rk6zmgx] {
            color: black;
        }


.btn-reward[b-qk0rk6zmgx] {
    background: #3498db; 
    color: #fff;
    border: none; 
    padding: 15px 30px; 
    border-radius: 8px; 
    font-size: 18px; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(52, 152, 219, 0.5); 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

    .btn-reward:hover[b-qk0rk6zmgx] {
        background-color: #2980b9;
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(52, 152, 219, 0.7);
    }

    .btn-reward.claimed[b-qk0rk6zmgx] {
        background-color: #2980b9;
        cursor: not-allowed;
        box-shadow: none; 
    }

    .btn-reward.incomplete[b-qk0rk6zmgx] {
        background-color: #95a5a6;
        cursor: not-allowed;
        box-shadow: none;
    }
