@{
    ViewData["Title"] = "Welcome to Fit.Me";
    Layout = "_HomeLayout";
}

@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Fit.Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .bg-img {
            background-image: url(/Images/logreg.jpg);
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section-wrapper {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            max-width: 700px;
            padding: 40px;
            text-align: center;
        }

        .welcome-message h1 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .welcome-message p {
            font-size: 18px;
            margin-bottom: 30px;
        }

        .cta-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .cta-buttons .btn {
                padding: 15px 30px;
                font-size: 20px;
                border-radius: 8px;
                transition: background-color 0.3s ease;
                color: #fff;
                cursor: pointer;
                margin: 0 10px;
                text-decoration: none;
                border:none;
            }


        .or-divider {
            font-size: 18px;
            margin: 0 10px;
        }
    </style>
</head>
<body class="home-page hold-transition theme-primary bg-img">
    <div class="section-wrapper">
        <div class="welcome-message">
            <h1>Welcome to Fit.Me</h1>
            <p>Your personalized fitness journey starts here! Complete workouts, join clans, conquer challenges and earn exciting rewards on your path to a healthier you.</p>
        </div>
        <div class="cta-buttons">
            @if (!isAuthenticated)
            {
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Sign Up</a>
                <span class="or-divider">OR</span>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Log In</a>
            }
            else
            {
                <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Visit Your Dashboard</a>
            }
        </div>
    </div>
</body>
</html>
